{% extends "base.html" %}

{% block content %}
<form action="" method="post" name="searchcontacts">
    <dl>
        {{ form.hidden_tag() }}
        {{ render_field(form.phone_number) }}
        <input type=submit value="Search Contacts">
    </dl>
</form>

{% if results %}
<table>
    <th>Name</th>
    <th>Age</th>
    <th>Phone Number</th>
    <th>Update</th>
    {% for result in results %}
    <tr>
        <td>{{ result.name }}</td>
        <td>{{ result.age }}</td>
        <td>{{ result.phone_number }}</td>
        <td><a href="/update/{{ result.phone_number }}">Update</a></td>
        <td>
            {% if result.subscription == [] %}
                <a href="/subscribe/{{ result.phone_number }}">Subscribe</a>
            {% else %}
                Subscribed
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>
{% endif %}


{% endblock %}